/**
 * {{{description}}}
 * @export
 * @enum {string}
 */
export enum {{classname}} {
{{#allowableValues}}
{{#enumVars}}
    {{#lambda.pascalcase}}{{#lambda.lowercase}}{{{name}}}{{/lambda.lowercase}}{{/lambda.pascalcase}} = {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}
