# IDE & editors

.idea/
.vscode/

# OS specific

.DS_Store

# Testing

.eslintrc_local
coverage/
cypress/screenshots/

# Other

!node_modules/@bo
**yarn-clean.log
**yarn-debug.log
**yarn-error.log
*.local.yml
*.log
.DS_Store
.env.local
.history
.out/
/build/
/coverage/
/e2e/dist/
node_modules
npm-debug.log*
report/
styleguide/
tmp
/backoffice-graphql-server.iml
dist

