html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  font-family: 'Basier Circle', sans-serif;
}

body {
  position: relative;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  line-height: 1.65;
  outline: none;
}

button, input, select {
  outline: none;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

a {
  text-decoration: none;
}

/* hack in order to delay autofill background appearance */
input:-webkit-autofill {
  transition-delay: 9999s;
}
